*.o
*.lo
*.la
.*.swp
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.out
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
autom4te.cache

debian/*.log
debian/libiphb0
build-stamp
configure-stamp
debian/files
debian/iphbd.substvars
debian/iphbd/
debian/libiphb-dev.substvars
debian/libiphb-dev/
debian/iphbd-dbg.substvars
debian/iphbd-dbg/
debian/libiphb0.substvars
debian/libiphb0.postinst.debhelper
debian/libiphb0.postrm.debhelper
debian/tmp/

iphbd/iphbd
iphbd/hbtest
iphbd/libiphb.pc
iphbd/libiphb-uninstalled.pc

m4/
