#!/usr/bin/make -f
# -*- makefile -*-

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -Werror -Wimplicit-fallthrough

%:
	dh $@ --with autoreconf

override_dh_installudev:
	dh_installudev --priority=95
